.wrapper {
  position: relative;
  width: fit-content;
  overflow: hidden;
  display: grid;
  height: calc(16px + 12px * 2 + 8px);
}

.value {
  display: flex;
  flex-direction: column;
  align-items: start;
}

.value .hidden {
  height: 0;
  overflow: hidden;
}

.count {
  font: var(--font-subtitle);
  background-color: var(--color-primary-shade);
  border-radius: 100vw;
  padding: 1px;
  width: 24px;
  display: grid;
  place-items: center;
}

.count.hidden {
  background-color: transparent;
  height: 0;
  overflow: hidden;
}

.value .placeholder {
  color: var(--color-text-dim);
}

.wrapper.open {
  overflow: visible;
}

.icon-wrapper {
  display: grid;
  grid-template-columns: auto auto;
  place-items: center;
  pointer-events: none;
  gap: 4px;
}

button.select {
  cursor: pointer;
  appearance: none;
  background-color: var(--color-surface-1);
  font: var(--font-content);
  border: none;
  border-bottom: 2px solid var(--color-text-dim);
  padding: 12px 8px;
  border-radius: 2px;
  display: flex;
  justify-content: space-between;
  position: relative;
  gap: 8px;
  text-wrap: nowrap;
}

button.select.open {
  border-bottom: 2px solid var(--color-primary);
  z-index: var(--z-dropdown-select);
}

.options {
  position: relative;
  width: 100%;
  display: grid;
  border: 2px solid var(--color-surface-1);
  z-index: var(--z-dropdown-select);
  border-radius: 0 0 2px 2px;
}

.option {
  cursor: pointer;
  background-color: var(--color-surface-1);
  padding: 4px 8px;
  padding-right: calc(4px + 8px + 16px);
  border: none;
  text-align: left;
  font: inherit;
  text-wrap: nowrap;
}

.option:hover {
  background-color: var(--color-surface-2);
}

.option.active {
  background-color: var(--color-primary);
  color: var(--color-surface-1);
}

.option.active:hover {
  background-color: var(--color-primary-shade);
}

.cancel {
  position: fixed;
  inset: 0;
  background-color: var(--color-error);
  opacity: 0%;
  z-index: var(--z-dropdown-cancel);
}
