:root {
  --color-background: oklch(0.18 0.0060 135);
  --color-surface-0: oklch(0.20 0.0060 135);
  --color-surface-1: oklch(0.22 0.0060 135);
  --color-surface-2: oklch(0.24 0.0060 135);
  --color-surface-3: oklch(0.26 0.0060 135);

  --color-text: oklch(0.90 0.02 135);
  --color-text-dim: oklch(0.70 0.02 135);

  --color-primary: oklch(0.75 0.120 135);
  --color-primary-shade: oklch(0.70 0.120 135);
  --color-primary-shadier: oklch(0.65 0.120 135);
  --color-primary-disabled: oklch(0.65 0.060 135);

  --color-error: #FC7476;

  --font-title: normal bold 24px "Lexend", sans-serif;
  --font-heading: normal bold 20px "Lexend", sans-serif;
  --font-subtitle: normal normal 14px "Lexend", sans-serif;
  --font-content: normal normal 16px "Lexend", sans-serif;
  --font-heading-small: normal bold 16px "Lexend", sans-serif;
  --font-label: normal normal 16px "Lexend", sans-serif;

  --z-modal-cancel: 1;
  --z-modal-content: 2;
  --z-dropdown-cancel: 3;
  --z-dropdown-select: 4;
}

html {
  color-scheme: dark;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  background-color: var(--color-background);
  color: var(--color-text);
  font: var(--font-content);
  margin: 0;
  padding: 0;
}
